<h2>Contacts</h2>

<p><textarea rows="2" cols="50">
	At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
</textarea></p>

<form action="/contcts" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Subscribe for the latest news</label>
    <input name="user_mail" type="email" class="form-control" placeholder="email@example.com">
  </div>
</form>  